# course content not to be included in the repo
/lecture_notebooks
/polleres_stuff

assignments/2_assignment_standard_ml/data
# risko's work at: https://github.com/Rrisko/DSAI-project-minesweeeper
assignments/3_symbolic 
# peer review assignment
assignments/2_assignment_linda_peer_korrektur